@import url('https://fonts.googleapis.com/css?family=Spectral+SC:400,600,800');

html,body {
    background: #052f3d url("../img/jeremy-bishop-98691.jpg") no-repeat center top;
    background-size: 100%;
}
.page {
}
.hero {
    text-align: center;
}
.page-title h1 {
    padding: 33% 0 1em 0;
    margin: 0;
}
.page-title h1 a,
.page-title h1 a:hover,
.page-title h1 a:focus,
.page-title h1 a:active {
    text-decoration: none;
    font-family: "Spectral SC", serif;
    color: #fff;
    font-weight: 600;
    font-size: 5vw;
}


/* MENU OVERLAY FULLSCREEN */
.overlay {
    position: fixed;
    background: rgb(7,79,69);
    background: -moz-linear-gradient(top, rgba(7,79,69,1) 0%, rgba(5,47,61,1) 100%);
    background: -webkit-linear-gradient(top, rgba(7,79,69,1) 0%,rgba(5,47,61,1) 100%);
    background: linear-gradient(to bottom, rgba(7,79,69,1) 0%,rgba(5,47,61,1) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}
.overlay.open {
    opacity: .88;
    visibility: visible;
    height: 100%;
}
.overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
}
.overlay.open li:nth-of-type(5) {
    animation-delay: .55s;
}
.overlay.open li:nth-of-type(6) {
    animation-delay: .60s;
}
.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "Spectral SC", serif;
    font-weight: 400;
    text-align: center;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}
.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 50px;
    position: relative;
    opacity: 0;
}
.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    font-size: 10vw;
}
@media only screen and (min-width: 50em) {
    .overlay ul li a {
        font-size: 3rem;
    }
}
.overlay ul li a:hover, .overlay ul li a:focus, .overlay ul li a:active {
    text-decoration: underline;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}


.button_container {
    position: fixed;
    top: 11px;
    right: 11px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    background-color: transparent;
    border: none;
  }
  .button_container:hover {
    opacity: .7;
  }
  .button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
            transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }
  .button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
            transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  .button_container span {
    background: #FF5252;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 11px;
  }
  .button_container span:nth-of-type(3) {
    top: 22px;
  }

/* CONTENT */
.main-content {
    background-color: rgba(255,255,255,0.1);
    color: #f0f0f0;
    width: 85%;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5em;
    padding: 2em 1em;
    border-radius: 2em;
}
.main-content .intro {
    font-size: 1.5rem;
    text-align: center;
}
.lista-animales {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.lista-animales li {
    border: 0.8em solid #ddd;
    height: 12em;
    width: 12em;
    border-radius: 12em;
    position: relative;
    overflow: hidden;
    margin: 3em auto;
}
.lista-animales li a {
    border-radius: 200px;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.80);
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -9999px;
    width: 100%;
    z-index: 100;
    cursor: pointer;
}
.lista-animales li img.ballena {
    height: auto;
    position: absolute;
    top: -10%;
    left: -90%;
    right: -10%;
    bottom: -10%;
    transition: all 0.7s ease-in-out;
    width: 200%;
}
.lista-animales li a:hover + img.ballena {
    top: 0;
    left: -60%;
    right: 0;
    bottom: -10%;
    width: 180%;
}
.lista-animales li img.delfin {
    height: auto;
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    transition: all 0.7s ease-in-out;
    width: 200%;
}
.lista-animales li a:hover + img.delfin {
    top: -5%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 300%;
}
.lista-animales li img.tortuga {
    height: auto;
    position: absolute;
    top: -2%;
    left: -30%;
    right: -10%;
    bottom: 0%;
    transition: all 0.7s ease-in-out;
    width: 200%;
}
.lista-animales li a:hover + img.tortuga {
    top: -5%;
    left: -70%;
    right: -50%;
    bottom: -50%;
    width: 300%;
}
.lista-animales li img.pulpo {
    height: auto;
    position: absolute;
    top: -10%;
    left: -40%;
    right: -10%;
    bottom: -10%;
    transition: all 0.7s ease-in-out;
    width: 200%;
}
.lista-animales li a:hover + img.pulpo {
    top: -25%;
    left: -100%;
    right: -50%;
    bottom: -50%;
    width: 300%;
}
.lista-animales li img.tiburon {
    height: auto;
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    transition: all 0.7s ease-in-out;
    width: 200%;
}
.lista-animales li a:hover + img.tiburon {
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 300%;
}